{% extends 'base.html' %} {% block content %}
<a href="{% url 'tipoSeguro-create' %}"
            ><i class="bi bi-plus-circle"></i> Crear Seguro</a
          > 
<div class="center">
  <h2>Mi lista de Seguros</h2>
  {% if tipoSeguro %}
  <ul class="tasks">
    {% for tipoSeguro in tipoSeguro %}
    <li>
      <a href="#" class="{% if tipoSeguro.completed %}completed{% endif %}">
        {{ tipoSeguro.nombre }}
      </a>
      <div class="task-controls">
        <div class="container-task">
          <form action="{% url 'tipoSeguro-delete' tipoSeguro.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </form>
          <a href="{% url 'tipoSeguro-update' tipoSeguro.id %}">
            <i class="bi bi-pencil-square"></i>
          </a>  
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>🎉 ¡Hey! Qué mal, no tienes seguros</p>
  {% endif %}
</div>
{% endblock %}
