{% extends 'base.html' %} {% block content %}

<div class="center">
  <h2>Mi lista de Usuarios</h2>
  {% if usuario %}
  <ul class="tasks">
    {% for usuario in usuario %}
    <li>
      <a href="#" class="{% if usuario.completed %}completed{% endif %}">
        {{ usuario.full_name }}
      </a>
       <div class="task-controls">
        <div class="container-task">

        </div>
      </div> 
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>🎉 ¡Hey! Qué mal, no tienes seguros</p>
  {% endif %}
</div>
{% endblock %}
